# Entorno virtual
env/
venv/

# Archivos de configuración de entorno
.env
.env.development
.env.production

#Base de datos local
db.sqlite3

# Archivos de caché y compilación
__pycache__/
*.pyc
*.pyo

# Archivos estáticos recolectados
/staticfiles/

# Claves y certificados
*.key
*.pem