{% extends 'base.html' %}
{% load static %}

<!-- index.html-->
 {% block title %}
 Contacto - Tienda de videojuegos
 {% endblock %}
 
 {% block content %}
 <div class="container mt-5 text-center">
    <h1 class="text-body">Contacto</h1>
      <p class="text-body">Envía un correo electrónico a <a href="mailto:contacto@tienda_videojuegos.es" 
         class="text-body">contacto@tienda_videojuegos.es</a>
      </p>
     <div class="alert alert-primary">Nuestro equipo de soporte estará encantado de ayudarte.</div>
     <div class="alert alert-warning">Recuerda incluir detalles sobre tu consulta para una respuesta más rápida.</div>
     <div class="alert alert-danger">No compartas información personal sensible en el correo electrónico
</div>
{% endblock %}