<!-- incontactodex.html-->
 <!DOCTYPE html>
 <html lang="es">
 <head>
     <meta charset="UTF-8">
     <title>Contacto - Tienda de videojuegos</title>
 </head>
 <body>
     <h1>Contacto</h1>
     <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
     <p>Envía un correo electrónico a contacto@tienda_videojuegos.es.</p>
     <p>¡Estamos aquí para ayudarte!</p>

     <footer>
        <p>&copy; 2026 Tienda de Videojuegos. Todos los derechos reservados.</p>
        <a href="{% url 'home' %}">Inicio</a>
     </footer>
 </body>
 </html>    