<!-- index.html-->
 <!DOCTYPE html>
 <html lang="es">
 <head>
     <meta charset="UTF-8">
     <title>Tienda de videojuegos</title>
 </head>
 <body>
     <h1>Bienvenido a la tienda de videojuegos</h1>
     <p>En esta tienda podrás encontrar los mejores videojuegos del mercado.</p>
     <p>¡Explora nuestra colección y encuentra tu próximo juego favorito!</p>

     <footer>
        <p>&copy; 2026 Tienda de Videojuegos. Todos los derechos reservados.</p>
        <a href="{% url 'contacto' %}">Contacto</a>
     </footer>
 </body>
 </html>    