{% extends 'base.html' %}
{% load static %}

<!-- index.html-->
 {% block title %}
 Inicio - Tienda de videojuegos
 {% endblock %}
 
 {% block content %}
 <div class="container mt-5 text-center">
    <h1 class="text-body">Bienvenido a la Tienda de Videojuegos</h1>
    <p class="text-body">Explora nuestra amplia selección de videojuegos para todas las plataformas.</p>

    <img src="{% static 'img/logo.jpeg' %}" width="200" height="200" class="img-fluid my-4" alt="Logo de videojuegos">
    <div class="alert alert-primary">Nueva colección de videojuegos disponible esta semana.</div>
    <div class="alert alert-warning">Recuerda revisar las restricciones de edad para algunos títulos.</div>
    <div class="alert alert-danger">Algunos productos tienen stock limitado.</div>
</div>
{% endblock %}